{% extends "base_generic.html" %}

{% block title %}<title>Test3 page</title>{% endblock %}

{% block content %}
<div class="col-sm-8">
<h4>Sensor: <a href="{{sensor.get_absolute_url}}">{{sensor}}</a></h4>
<h5>Appartment: <a href="{{sensor.appartement.get_absolute_url}}">{{sensor.appartement}}</a></h5>
<h5>Building: <a href="{{sensor.appartement.building.et_absolute_url}}">{{sensor.appartement.building}}</a></h5>
<div id="bar_chart" style="width: 1200px;height: 450px;"></div>
</div>
<div class="col-sm-4">
<form action="" method="get">
  {{ form }}
  <input type="submit" value="Filter">
</form>
<br>
<p><a href="{% url "graph_per_day" sensor.pk %}">Graph of Data from Any day</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Time');
    data.addColumn('number', 'Minimum');
    data.addColumn('number', 'Maximum')
    {% if values %}
    {% for x in values %}
      var row =  [new Date('{{x.date.isoformat}}'),{{x.min_reading}},{{x.max_reading}}];
      data.addRows([row]);
    {% endfor %}
    {% else %}
      data.addRows([[new Date(0),1,1]]);
    {% endif %}
    var options = {
      chart: {
        title: "Maximum and Minimum " + $("#id_reading")[0].selectedOptions[0].innerText,
        subtitle:" recorded this " + $("#id_filter")[0].selectedOptions[0].innerText,
      },
      hAxis: {format: 'd/M/yyyy' },
      axes: {
          y: {0: {label: $("#id_reading")[0].selectedOptions[0].innerText } },
          x: {0: {label: "Date" } },
           },
    };
    var chart = new google.charts.Bar(document.getElementById('bar_chart'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>

{% endblock %}
