{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>My IOT website</title>
    <h4><a href="{% url "chart" %}">Graphical View of readings from last one hour</a></h3>
    <h4><a href="{% url 'admin:index' %}">link to admin panel</a></h3>
    <h4><a href="{% url "api-root" %}">Api v1</a></h3>
    <h2>All Recorded readings</h2>
  </head>
<body>

{%comment%}
{% regroup values by date.month as value_list_by_month %}

<ul>
{% for months in value_list_by_month %}

	<li>Month : {{ months.list.0|date:"F" }}
    {% regroup months.list by date.day as value_list_by_day %}
    {% for days in value_list_by_day %}

		<ul>
			<li>Day : {{ days.list.0|date:"d" }}

				<ol>
    {% for x in days.list %}
					<li>Value : {{ x.value }}  {% load tz %}{% localtime on %}Time : {{ x.date }}{% endlocaltime %}</li>
    {% endfor %}
        </ol>

			</li>
    {% endfor %}

		</ul>
	</li>
{% endfor %}

</ul>
{% endcomment %}


{% regroup values by date.month as month_list %}
  <ul>
  {% for months,values in month_list reversed%}
      <li>{{ values.0|date:"F : Y"}}
      <ol>
          {% for x in values reversed%}
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <li>Value : <b>{{ x.value }}</b>  {% load tz %}{% localtime on %}Time : {{ x.date|date:"dS (l) P" }}{% endlocaltime %}</li>
          </div>
          {% endfor %}
      <br style="clear:both;"/>
      </ol>
      </li>
  {% endfor %}
  </ul>

</body>
</html>
