{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>My IOT</title>
    <h3>All Recorded readings</h3>
    <h3><a href="{% url "chart" %}">Graphical View of readings from last one hour</a></h3>
  </head>
<body>

{%comment%}

  {% regroup values by date.month as month_list %}

  <ul>
  {% for months in month_list %}
      <li>{{ months.grouper }}
      <ol>
          {% for x in months.list %}
            <li>{{ x.date }}: {{ x.value }}</li>
          {% endfor %}
      </ol>
      </li>
  {% endfor %}
  </ul>

{% endcomment %}

  {% regroup values by date.month as month_list %}
  <ul>
  {% for months in month_list reversed%}
      <li>{{ months.grouper }}
      <ol>
          {% for x in months.list reversed%}
            <li>{{ x.date }}: {{ x.value }}</li>
          {% endfor %}
      </ol>
      </li>
  {% endfor %}
  </ul>

{% comment %}
  <ol>
    <div class="row">
    {% for value in values%}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <li>
        <pre>Value : {{ value.value }}  {% load tz %}{% localtime on %}Time : {{ value.date }}{% endlocaltime %} </pre>
      </li>
    </div>
    {% endfor %}
  </div>
  </ol>

{% endcomment %}
</body>
</html>
